@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.game-overlay {
    display:flex;
    justify-content:center;
    align-items:center;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(255, 255, 255);
}

.hidden {
    display: none;
}
.btn {
    border: 4px solid;
    margin: 8px;
    padding: 8px;
    border-radius: 28px;
    text-align: center;
}

.btn:focus {
    outline: 0;
}
.flash {
    font-size: 2em;
    animation-name: flash;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: blue;}
    to {color: black;}
}

h1 {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container{
    display: block;
    margin: auto;
    padding: auto;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: white;
    margin: 2px;
}

.scene {
    display: flex;
    padding: 8px;
    height: 128px;
    width: 128px;
    perspective: 300px;
}

.card {
    
    border: 2px solid black;
    flex-basis: 128px;
    border-radius: 16px;
    font-size: 2em;

    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card.is-flipped {
    transform: rotateY(180deg);
    
}

.card__face {
    position: absolute;
    text-align: center;
    line-height: 128px;
    width: 100%;
    height: 100%;
    justify-content: center;
    backface-visibility: hidden;
}

.card__face--front {
    align-self: center;
}

.card__face--back {
    transform: rotateY(180deg);
}

#middle {
    flex-basis: 128px;
    border-radius: 16px;
    font-size: 2em;
    
    background: white;
    text-align: center;
    line-height: 128px;
}

img {
    height: 124px;
    width: 124px;
    border-radius: 16px;
}

.reveal-img {
    display: none;
}